.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--header-color);

  &__accent {
    color: var(--accent-color);
  }

  &--footer {
    display: inline-block;
    color: var(--main-header);
    margin-right: 0;
    margin-bottom: 20px;
  }

  @media (min-width: 480px) {
    margin-right: 88px;
  }

  @media (min-width: 1200px) {
    margin-right: 94px;
  }
}
