:root {
  --main-color: #757575;
  --accent-color: #2196f3;
  --header-color: #212121;
  --main-header: #ffffff;
  --adress-color: rgba(255, 255, 255, 0.6);
  --our-team-background: #f5f4fa;
  --hero-background: #2f303a;
  --border-color: #eeeeee;
  --line: #ececec;
  --svg-main-color: #afb1b8;
  --social: rgba(255, 255, 255, 0.1);
  --bg-directions: rgba(47, 48, 58, 0.8);
  --modal-bgc: rgba(0, 0, 0, 0.2);
  --overlay-bgc: rgba(33, 150, 243, 0.9);
  --timing-funtion: cubic-bezier(0.4, 0, 0.2, 1);
}
